.App {
  text-align: center;
  font-family: Verdana, sans-serif;
}

.App-header {
}

.App-title {
  font-size: 1.5em;
  color: navy;
}

.App-intro {
  font-size: large;
}

ul {
  list-style-type: none;
}
